In [33]:
sizes = ['S','M','L']

In [34]:
sizes

['S', 'M', 'L']

In [35]:
colors = ['black', 'white']

In [36]:
tshirts = [(color,size) for color in colors for size in sizes]

In [37]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [38]:
tshirts = ((color,size) for color in colors for size in sizes)

In [39]:
tshirts

In [40]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):  1
...     print(tshirt)

IndentationError: unexpected indent (2884944038.py, line 2)

In [ ]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):  1
    print(tshirt)

IndentationError: unexpected indent (<ipython-input-9-fccb2438f959>, line 2)

In [ ]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):print(tshirt)

black S
black M
black L
white S
white M
white L

In [ ]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):print(tshirt)

black S
black M
black L
white S
white M
white L

In [ ]:
tupl1 = (10,12,13)

In [ ]:
tupl1

(10, 12, 13)

In [ ]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [ ]:
a = [1,2,3]
a.append(4)

In [ ]:
a

[1, 2, 3, 4]

In [ ]:
b = (1,2,3)

In [ ]:
b.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
b[1]

2

In [ ]:
b[1] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
b = (1,2 [1,2])

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-21-2362b1793294>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  b = (1,2 [1,2])
<ipython-input-21-2362b1793294>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  b = (1,2 [1,2])
<ipython-input-21-2362b1793294>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  b = (1,2 [1,2])

TypeError: 'int' object is not subscriptable

In [ ]:
b = (1,2, [1,2])

In [ ]:
b[-1].append(3)

In [ ]:
b

(1, 2, [1, 2, 3])

In [ ]:
hash(10)

10

In [ ]:
hash(a)

TypeError: unhashable type: 'list'

In [ ]:
a = (1,2)

In [ ]:
hash(a)

-3550055125485641917

In [ ]:
t = (1,2,3)

In [ ]:
tuple(t)

(1, 2, 3)

In [ ]:
t2 = tuple(t)
t == t2

True

In [ ]:
l = [1,3]
l2 = list(l)
l==l2

True

In [ ]:
s1 =[1,2]
s2 = [3,4]
s3 = s1.__add__(s2)
s1
s2
s3

[1, 2, 3, 4]

In [ ]:
s1

[1, 2]

In [ ]:
s3 = s1.__iadd__(s2)

In [ ]:
s3

[1, 2, 3, 4]

In [ ]:
s1

[1, 2, 3, 4]

In [ ]:
s1.__contains__(1)

True

In [ ]:
s1=[1,2,3]

In [ ]:
s1

[1, 2, 3]

In [ ]:
s1[1]

2

In [ ]:
s1[3]

IndexError: list index out of range

In [ ]:
*s1

SyntaxError: can't use starred expression here (2030564824.py, line 1)

In [ ]:
divmod(20,8)

(2, 4)

In [ ]:
t=(20,8)

In [ ]:
*t

SyntaxError: can't use starred expression here (3801933867.py, line 1)

In [ ]:
divmod(*t)

(2, 4)

In [ ]:
import os
_, path = os.path.split('/home/path/asd/txt')
path

'txt'

In [ ]:
range(3)

range(0, 3)

In [41]:
a, b = range(2)

In [42]:
a, b

(0, 1)

In [43]:
a, *b = range(4)

In [44]:
a, b

(0, [1, 2, 3])

In [45]:
b[:3]

[1, 2, 3]

In [46]:
b[:2]

[1, 2]

In [47]:
b[2:]

[3]

In [48]:
b=[1,2,3,4,5,6]

In [49]:
b[:2]

[1, 2]

In [50]:
b[2:]

[3, 4, 5, 6]

In [51]:
b[2:4]

[3, 4]

In [52]:
a = [1,2,3] *3

In [53]:
a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
a = [[1,2,3]]

In [55]:
a*3

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [56]:
board = [['_'] * 3 for i in range(3) ]

In [57]:
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [58]:
board = [['_', '_','_']] *3
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [59]:
board[1][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [60]:
l=[1,2,3]

In [61]:
hash(l)

TypeError: unhashable type: 'list'

In [62]:
id(l)

4573590016

In [63]:
t = (1,2,3)

In [64]:
id(t)

4579546176

In [65]:
hash(t)

529344067295497451

In [66]:
t *= 2

In [67]:
id(t)

4580705664

In [68]:
t = t*2

In [69]:
t.__iadd__(2)

AttributeError: 'tuple' object has no attribute '__iadd__'

In [70]:
l

[1, 2, 3]

In [71]:
l.__iadd__(2)

TypeError: 'int' object is not iterable

In [72]:
l.__iadd__([1,2])

[1, 2, 3, 1, 2]

In [73]:
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [74]:
t[2].append([50,60])

In [75]:
t

(1, 2, [30, 40, 50, 60, [50, 60]])